<p>product works!</p>

<!-- <mat-list>
    <mat-list-item *ngFor="let product of products">
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <h3 mat-line>{{ product.title }}</h3>
        <p mat-line>Description: {{ product.description }}</p>
        <p mat-line>Price: {{ product.price | currency }}</p>
        <p mat-line>SKU: {{ product.sku }}</p>
        <p mat-line *ngIf="product.stock !== undefined">Stock: {{ product.stock }}</p>
        <p mat-line *ngIf="product.comparePrice !== undefined">Compare Price: {{ product.comparePrice | currency }}</p>
        <p mat-line>Barcode: {{ product.barcode }}</p>
    </mat-list-item>
</mat-list> -->